In [11]:
#install the necessary libraries
import ast
import numpy as np
import pandas as pd

In [2]:
#loading the data
data=pd.read_csv('UpWork.csv')

In [3]:
data.head()

               TAG_No  ...      Vidsys_sent
0   AUH-1017-4-000001  ...  3/18/2018 18:42
1   AUH-1017-4-000001  ...   3/19/2018 0:25
2   AUH-1017-4-000001  ...   3/19/2018 5:18
3  AUH-1001-2-0000088  ...  3/19/2018 10:48
4  AUH-1001-2-0000088  ...  3/19/2018 10:48

[5 rows x 8 columns]

In [4]:
#converting the string into dictionary
data['ALARM_PAYLOAD']=data['ALARM_PAYLOAD'].apply(ast.literal_eval)

In [5]:
data['ALARM_PAYLOAD'][0]

{'alarmStatus': 1,
 'alarmZone': 0,
 'ateMode': 0,
 'ateState': 0,
 'ateTagNo': 'AUH-1017-4-000001',
 'errorCode': 110,
 'extraInfo': '0(Alarm Test)',
 'messageType': 'FIRE ALARM',
 'numberOfInput': 0,
 'timestamp': 'Mar 18, 2018 6:42:19 PM',
 'transactionId': 0}

In [5]:
#now I build columns and merge it with original data set
data_final=pd.concat([data.drop(['ALARM_PAYLOAD'], axis=1), data['ALARM_PAYLOAD'].apply(pd.Series).drop(columns=[0,1])], axis=1)

In [7]:
#dropping unecessary columns
data_final=data_final.drop(columns=['remaining parametes, each parameter in a column'])

In [8]:
data_final.head()

               TAG_No  messageType  ...                 timestamp  transactionId
0   AUH-1017-4-000001   FIRE ALARM  ...   Mar 18, 2018 6:42:19 PM            0.0
1   AUH-1017-4-000001    HEARTBEAT  ...  Mar 19, 2018 12:26:57 AM            0.0
2   AUH-1017-4-000001    HEARTBEAT  ...   Mar 19, 2018 5:19:54 AM            0.0
3  AUH-1001-2-0000088   FIRE ALARM  ...  Mar 19, 2018 10:50:19 AM            0.0
4  AUH-1001-2-0000088  MAINTENANCE  ...  Mar 19, 2018 10:50:28 AM            0.0

[5 rows x 17 columns]

In [10]:
data_final.to_csv('final_csv.csv',index=False)

In [12]:
#there are duplicate columns in case we want to remove them, do this
data_update=pd.concat([data.drop(columns=['ALARM_PAYLOAD','ateTagNo'], axis=1), data['ALARM_PAYLOAD'].apply(pd.Series).drop(columns=[0,1,'messageType'])], axis=1)

In [15]:
data_update=data_update.drop(columns=['remaining parametes, each parameter in a column'])

In [16]:
data_update.to_csv('final_update_csv.csv',index=False)